<footer class="flex flex-col  h-[17rem] pt-[2rem] font-mono">
    <!-- contenedor de informacion -->
    <div id="contenedor" class="grid grid-cols-2">
        <!-- informacion -->
        <div id="informacion" class=" pl-5">
            <h1>Contactos</h1>
            <p>telefono:</p>
            <p>Direccion:</p>
        </div>

        <div id="horario" class=" flex flex-col justify-center items-center">
            <header>
                <h1>Horario</h1>
            </header>
            <ul>
                <il>Lunes</il>
                <il>Martes</il>
                <il>Miercoles</il>
                <il>Jueves</il>
                <il>Viernes</il>
                <il>Sabado</il>
                <il>Domindo</il>
            </ul>
        </div>
    </div>

    <!-- footer -->
    <div class="mt-[5rem] h-[5rem]">
        <p class="flex justify-center">Todos los derechos resevados @2024</p>
    </div>
</footer>
